*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.image{
    background: url(./img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.box{ 
    border-radius: 4px;
    background-color: transparent;
}
.nav{
    max-width: 1580px;
    margin:auto;
}
/* .m-top{
    margin-top: 10px;
} */
.j-c-c{
    justify-content: center;
}
.j-c-s-b{
    justify-content: space-between;
}

/* padding */

.p-1{
    padding: 10px;
}
.p-2{
    padding: 20px;
}
.p-3{
    padding: 20px;
}


/* height */

.h-50{
    height: 50px;
}
.h-30{
    height: 30px;
}
.h-70{
    height: 70px;
}
.h-150{
    height: 150px;
}
.h-1{
    height: 100px;
}
.h-2{
    height: 200px;
}
.h-3{
    height: 300px;
}
.h-4{
    height: 400px;
}
.h-5{
    height: 500px;
}
.h-6{
    height: 600px;
}
.h-7{
    height: 700px;
}
.h-800{
    height: 800px;
}
h1{
    text-align: center;
}

.btn{
    padding: 15px 40px;
    color: white;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
    border-radius: 5px;
}

/* color */
.b-c-1{
    background-color: #FF9F67;
    border: none;
}
.b-c-2{
    background-color: transparent;
    border:1px solid white;
}
.div{
    display: block;
}
.div a{
    padding: 2px 39px;
    text-decoration: none;
    color:white;
    font-size: 16px;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;     
      
}
.m-t{
    margin-top: 200px;
}
.margin{
    margin-right: 20px;
    margin-left: 20px;
}

ul{
    list-style: none;
}
.font-family-1{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
    color: white;
    font-size: 60px;
    text-align: start;
    line-height: 80px;
    margin-bottom: 10px;
}
.font-family-2{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal; 
    color: white;
    font-size: 18px;
    text-align: start;
    line-height: 30px;
    margin-bottom: 30px;
}